* {
    margin: 0;
    padding: 0;
    background-color: #222222;
}

header {
    margin: 1vh 1vw;
    padding: 0.5vh 0.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(239, 239, 239);
    background-color: rgb(71, 71, 71);
    max-height: 120px;
    border-radius: 10px;
}

.header_navigation {
    min-width: 600px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(71, 71, 71);
    height: 100%;
}

.header_navigation li a {

    height: 100%;
    color: rgb(232, 232, 232);
    font-family: 'Montserrat';
    font-size: 16px;
    text-decoration: none;
    background-color: rgb(71, 71, 71);
}

.header_navigation li {
    background-color: rgb(71, 71, 71);
}

.logo {
    min-width: 150px;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
}

.logo svg {
    background-color: rgba(255, 255, 255, 0);
}